@model OrderDetailViewModel 
@{
    ViewData["Title"] = "Confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="WhiteBackGround">
    <div class="row px-3">
        <div class="col-8">
            <h2 class="text-info">
                Order Confirm
            </h2>
        </div>
        <div class="col-4">
            <a asp-action="Index"
               asp-controller="Home"
               class="btn btn-success form-control">
                New Order
            </a>
        </div>
    </div>
    @if(Model.OrderHeader != null)
    {
        <div style="color:maroon" class="p-3">
            Your Order Has Been Confirmed Please SeecThe Order Summery Bellow
            <br />
            Feel Free To Contact Us If You have any Questions .
        </div>
        <partial name="_IndividualOrderDetail" model="Model" />
    }
    else
    {
        <div class="text-danger">
            Error  !!    please try again
        </div>
    }
</div>
